<%- include ('../../partials/header.ejs') %>
  <body>
    <%- include ('../../partials/navbar.ejs') %>
    
    <div class="container" id="content">
        <h2 id="titulo-lista">Categorias</h2>
        <div class="col-md-12" id="btn-add">
            <a href="/admin/categories/new" class="btn btn-success">Adicionar categoria</a>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Slug</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach(category => { %>
                <tr>
                    <td><%= category.title %></td>
                    <td><%= category.slug %></td>
                    <td><a href="#" class="btn btn-info">Editar</a></td>
                    <form action="/admin/categories/delete" method="post">
                        <input type="hidden" name="id_form" value="<%= category.id %>"/>
                        <td><button class="btn btn-danger"
                            onclick="return confirm('Confirma exclusão desse registro?')">Excluir</button></td>
                    </form>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <%- include ('../../partials/footer.ejs') %>

  </body>
</html>