<%- include ('partials/header.ejs') %>
  <body>
    <%- include ('partials/navbarhome.ejs') %>
    
    <div class="container" id="content">
        <h2 id="titulo-lista"><%= article.title %></h2>

        <div class="row" id="body-article">
          <%- article.body %>
        </div>

        <div class="row">
          <a href="/" class="btn btn-default">Voltar</a>
        </div>
      </div>
    </div>

    <%- include ('partials/footer.ejs') %>

  </body>
</html>